<table class="table">
  <thead>
    <tr>
    <th>Title</th>
    <th>Date of Publish</th>
    <th>Total Chapters</th>
    <td>Option</td>

    </tr>
  </thead>
  <tbody>
    {{#each model as |book|}}
      <tr>
      <td>{{#link-to 'books.id' book.id}} {{book.title}} {{/link-to}}</td>
      <td>{{book.datePublished}}</td>
      <td>{{book.chapters.length}}</td>
      <td>
        {{#link-to 'books.id.edit' book.id}} Edit {{/link-to}}
      </td>
      <td>
        {{#link-to 'index'}} Delete {{/link-to}}
      </td>
      </tr>
    {{/each}}
  </tbody>
</table>


{{yield}}
