
<table class="table">
  <thead>
    <tr>
    <th>Title</th>
    <th>Order</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |chapter|}}
      <tr>
      <td>{{chapter.title}}</td>
      <td>{{chapter.ordering}}</td>
      <td>{{chapter.id}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{yield}}
