<hr>
<form {{action 'edit' on="submit" }}>
  <strong>Title: </strong>{{input value=model.title}}
  <strong>Date: </strong> {{input value=model.datePublished}}
  <br>
  <button>añadir</button>
</form>
{{outlet}}
