<header class="header">
  <h1>My First Ember.js App</h1>
</header>

{{#link-to 'people'}}
  People
{{/link-to}}

{{#link-to 'about'}}
  About Us
{{/link-to}}

{{#link-to 'tarea-salario'}}
  Tarea Salario
{{/link-to}}

{{#link-to 'parcial'}}
  Parcial1
{{/link-to}}

{{#link-to 'authors'}}
  Authors
{{/link-to}}

{{#link-to 'books'}}
  Books
{{/link-to}}

{{#link-to 'chapters'}}
  Chapters
{{/link-to}}
<hr>
{{outlet}}

<footer class="footer">
  This is my footer
</footer>
